@media screen and (max-width: 500px) {
    form {
        float: none;
        width: 100%;
    }
}

a {
    text-decoration: none;
}

form {
    border: 10px solid white;
    margin: 50px 350px 50px 350px;
    padding: 10px 30px 10px 30px;
    background-color: white;
    border-radius: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 0 50px 0;
    padding: 0px 120px 0px 120px;
    height: 100%;
    background-image: url("https://localwiki.org/media/cache/d8/4c/d84c349297afd100089349892401f5da.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

label{
    color: black;
}

img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#username {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

#password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

#fname{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

#lname{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}


::placeholder {
    font-size: medium;
    padding-top: 1px;
}

h1 {
    text-align: center;
    color: green;
}

#title {
    text-align: center;
    color: black;
}

button {
    width: 100%;
    padding: 12px 20px;
    margin-top: 25px;
    display: inline-block;
    background-color: green;
    border-radius: 20px;
    color: white;
    font-size: 16px;
}

#sign-acc{
    font-size: 15px;
    float: right;
}


label {
    float: left;
    font-size: 15px;
}

span {
    float: right;
    font-size: 15px;
}

#reg{
    margin-top: 25px;
    margin-bottom: 10px;
}

#dropdown {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: left;
}

#sign-up{
    color: white;
}

#sign-in{
    color: white;
}





